In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.options.display.max_rows = 8

**Create a Pandas dataframe that looks like this one.**
steps:
* Create a dictionary with the data
* Create the dataframe
![exercise Pandas data structure](./imgs/pandas_data_strcture.png)

**Answer the following questions related to the data**

**A**
* Print the areas for all the countries.
* Print the data type of population column.
* Print the data of Germany.
* print the capital and the population for each country.

**B**
* What is the average population?
* What is the smallest country (area-wise)?
* What is the population density for each county(add as a new column)? (Hint: multiply the population by 1000000)

In [ ]:
#Print the areas for all the countries.

In [3]:
#Print the data type of population colum

In [4]:
#Print the data of Germany

In [5]:
#print the capital and the population for each country.

In [6]:
#What is the average population?

In [7]:
#What is the smallest country (area-wise)?

In [8]:
#What is the population density for each county?(add as a new column)

**Plot a bar chart for the population for each country.**

You can play with the kind keyword: 'line', 'bar', 'hist', 'density', 'area', 'pie', 'scatter', 'hexbin'

** Add a column 'density_ratio' with the ratio of the density to the mean density**

**Select the countries that has their capital in this list [London,Tokyo,Paris,Berlin]**

(Hint. use isin())

**Select all countries whose population density is between 100 and 300 people/kmÂ² **

#### Importing and cleaning data

**Read the flights.csv file to a pandas dataframe. Then do hte following**

* print the first 3 rows of the data
* print the last row of the data
* print informatin about the data like the dtype and count
* print the statisics summary of the data
* print the column names
* print the shape of the data

In [9]:
# Read the flight.csv into a datafrmae

In [10]:
#print the first 3 rows of the data

In [11]:
#print the last row of the data

In [12]:
#print informatin about the data like the dtype and count

In [13]:
#print the statisics summary of the data

In [14]:
#print the column names

In [15]:
#print the shape of the data

** Rename any unnamed colums into a meaningful name **

**Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column)**

**The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.**

hint use dataframe.From_To.str.split()

**Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)**

**Delete the From_To column from df and attach the temporary DataFrame from the previous questions.**

**In the Airline column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. '(British Airways. )' should become 'British Airways'**

**Save the clean dataframe into a new csv file. Name it flights_clean.csv**

**Select the capital, density and the population column of those countries where the density is larger than 300**

**Select the country between France and Netherlands**

** Select area of Germany **

** print the capital and population for each of Belgium and France
using iloc() and loc()**